@{
    ViewData["Title"] = "Home Page";
}

<div id="block-1" class="text-center block">
    <div class="content">
        <p class="display-3">In the cat's paws</p>
        <input id="play-button" type="image" src="../images/PlayButton.svg" alt="Play button">
        <p class="display-5">жмякни меня!</p>
    </div>
</div>
<div id="block-2" class="text-center block">
    <div class="content">
        <p class="display-5">Приглашаем вас принять участие в великом противостоянии... </p>
        <img style="width: 90%;" src="../images/VS.svg" alt="VS">
        <p class="display-5">Великое противостоянии умов в котором выживет сильнейший!</p>
    </div>
</div>
<div id="block-3" class="text-center block">
    <div class="content">
        <div class="gradient">
            <p class="display-5">Тебе предстоит встретиться с</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <img style="width: 60%" src="../images/Catbomb.svg" alt="Catbomb">
    </div>
    <div class="col">
        <div class="description">
            <h1>Кото-Бомбой</h1>
            <ul>
                <li>Активируется на взрыв через N [1..5] ходов</li>
                <li>Не может двигаться пока активирован</li>
                <li>Таймер идёт пассивно, не тратя хода Кота-учёного</li>
                <li>Взрывается, если при взрыве Инженер был в комнате - он погибает</li>
                <li>После взрыва восстанавливается 2 хода</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="description">
            <h1>Кото-Кусем</h1>
            <ul>
                <li>Находясь в комнате с Инженером, может схватить его, что заставит игрока пропустить 2 хода</li>
                <li>После кусания восстанавливается 2 хода</li>
            </ul>
        </div>
    </div>
    <div class="col">
        <img style="width: 60%" src="../images/Catbite.svg" alt="Catbite">
    </div>
</div>
<div class="row">
    <div class="col">
        <img style="width: 60%" src="../images/Catpush.svg" alt="Catpush">
    </div>
    <div class="col">
        <div class="description">
            <h1>Кото-Бомбой</h1>
            <ul>
                <li>Может нажимать на кнопки в комнате</li>
                <li>При нажатии на кнопку Кот-Учёный тратит ход</li>
            </ul>
        </div>
    </div>
</div>
<div id="block-4" class="text-center block">
    <div class="content">
        <div class="gradient">
            <p class="display-5">Немного о команде разработчиков</p>
        </div>
    </div>
</div>
<div class="text-center block">
    <div class="content">
        <img style="width: 60%" src="../images/Team.svg" alt="Team">
        <p class="display-2">Glow Globe</p>
        <p class="display-4 description" style="border-bottom: inset;">
            Мы молодая команда инди-разработчиков, начавшая свой путь в 2019 году с проекта The Old Saline. Эта игра о врачующем алхимике Клим Покровских, она путеществует по дальним казалось бы заброшеным челевечеством местам и лечет пострадавших от эпидемии людей. Так же мы принимали участие в Mix and Game Jam 2020 года, на ней мы представили игру Fiddler's Green про пиратов бороздящих призрачные моря. 
            
            Все выпущенные нами игры отличаются богатым лором и оригинальной проработкой персонажей и игровых механик.
        </p>
    </div>
</div>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">